.site-header {
  background: #FFEAAA;
  width: 100%;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  font-size: 32px;
}

.main-nav {
  padding: 0.1em;
  display: flex;
  justify-content: flex-start;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}
@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
    clear:right;
  }
  .main-nav {
    background-color: #FFEAAA;
  }
  .main-nav ul {
    display: block;
    text-align: center;

  }
  .main-nav li {
    display: inline;
    padding: 0 3em
  }
}
